# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/
/fish-ui/node_modules/
/fish-ui/dist/
/fish-ui/dist-ssr/
/fish-ui/*.local
/fish-ui/.eslintcache
/fish-ui/.prettiercache
.npm
/fish-ui/npm-debug.log*
/fish-ui/yarn-debug.log*
/fish-ui/yarn-error.log*
/fish-ui/pnpm-debug.log*

data/
*.keras
*.h5
*.pkl
logs/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv
venv/
ENV/
env/
stop.txt

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db